@*<h1 style="color:red">Salam P130</h1>*@

@{ 

    string[] names = { "Sadiq", "Seid", "Emil", "Esqin", "Togrul" };
}

<ul>
    @foreach (var item in names)
    {
        <li>@item</li>

    }

</ul>
